.link{
  text-align: center;
}
/*--------------------------------------------------------------
# Login
--------------------------------------------------------------*/
.login .php-login-form {
    width: 50%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    padding: 30px;
    background: #fff;
    margin: auto;
  }
  .login .php-login-form .form-group {
    padding-bottom: 8px;
  }
  .login .php-login-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  .login .php-login-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  .login .php-login-form .error-message br + br {
    margin-top: 25px;
  }
  .login .php-login-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  .login .php-login-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  .login .php-login-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  .login .php-login-form input,
  .login .php-login-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  .login .php-login-form input {
    height: 44px;
  }
  .login .php-login-form textarea {
    padding: 10px 12px;
  }
  .login .php-login-form button[type="submit"] {
    background: #ffb03b;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  .login .php-login-form button[type="submit"]:hover {
    background: #ffa012;
  }